<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- this was in costa rica example -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Mission to Mars</title>
  <!-- <link rel="stylesheet" href="reset.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>

  <div class="container-fluid" style="margin: 25px;">

    <div class="jumbotron text-center" style="background-color: black; color: blanchedalmond;">
      <h1>Mission to Mars</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p> 
    </div>

    <h2>Latest Mars News</h2>
    <h3>{{ mars.news_title }}</h3>
    <h4>{{ mars.news_p}}</h4>
    <br>
 
  <div class="row"> 

      <div class="col-md-6"> 
 
        <h2>Featured Image</h2>
        <img alt="featured" title="Featured image" src="{{ mars.featured_image_url }}" 
        style="width: 100%">

      </div>

      <div class="col-md-6 box"> 

        <h2>Latest Mars Weather</h2>
        <h4>{{ mars.mars_weather }}</h4>
        <br>
        <h2>Mars Facts</h2>
        <table> {{ mars.mars_facts | safe }}</table> 

      </div>
   
    </div>
    
    <br>

    <div class="row" style="display: flex;">

      {% for hemi in mars.hemisphere_image_urls[0:2] %}
      <div class="column" style="flex: 50%">
        <h3 style="text-align: center; vertical-align: text-bottom; margin-bottom: 0px;">{{ hemi.title }}</h3>
        <img alt="hemi" title="Hemi image 1" src="{{ hemi.img_url }}" style="width:100%; padding: 15px;padding-top: 5px">
      </div>
     {% endfor %}

    </div>

    <div class="row" style="display: flex;">

      {% for hemi in mars.hemisphere_image_urls[2:] %}
      <div class="column" style="flex: 50%">
        <h3 style="text-align: center; vertical-align: text-bottom; margin-bottom: 0px;">{{ hemi.title }}</h3>
        <img id="hemi" alt="hemi" title="Hemi image 1" src="{{ hemi.img_url }}" >
      </div>
      {% endfor %}
    
    </div>

  <div class="footer">
    <br>
      <p>Scott Clark | Data Analytics | December 2019</p>

    </div>
    
</div>

</body>

</html>



