

  .footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: lightgray;
      color: black;
      text-align: center !important;
    }

    #hemi {
        width:100%; padding: 15px; padding-top: 5px;
    }
